@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html
{
  background-color: #fefefe
}


p
{
  color : #623452;
}


body
{
  margin: 2em auto;
  max-width:800px;
  line-height:1.6;
  font-size:16px;
  color:#454545;
  padding:1em;
  text-align: justify;
  font-family: Open sans, Arial, Sans serif;
}


h1,h2,h3
{
  line-height: 1.2;
  color : #938403;
}


.mfw
{
  color: #117e69;
}

.wrong
{
  color: #800;
  text-decoration: underline;
}


small
{
  font-size: 0.4em;
}


.rainbow
{

}

.blue
{
  color: #00e;
}

.violet
{
  color: #551a8b;
}

a
{
  color: #0077aa;
}


ul li img
{
  height: 1em
}



span.carreun {
    color: #444;
    font-weight: 700
}

span.carreun:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #444
}

span.carredeux {
    color: #454545;
    font-weight: 700
}

span.carredeux:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #454545
}

div img
{
  width: 20em;


}

.container
{
  width: 800px;
  height: 17em;
  clear: both;
  border: solid green;
}


.imggauche
{
  float: left;
  width: 21em ;
  border: solid red;
  margin: auto;
  clear: right;
}

.txtdroit
{
  float: right;
  border: solid blue;
  width: 27em;
}

.legende
{
  font-size: .7em;
}

blockquote::before
{
  content: open-quote;
  font-size: 3em;
  margin-right: .2em;
  margin-left: 0;
}

Author
{
  font-size: 0.6em
}


.imgkopimi
{
  width: 1em;
  height: auto;
  margin-left: 50%;
}

a:link
{
  color: pink;
}


a:visited
{
 color: gray;
}



a:hover
{
  color: red;
}
